

.btn-light {
    transition: all 0.3s ease; 
    border: 2px solid transparent;
}

.btn-light:hover {
    background-color: transparent !important;
    color: white !important;
    border-color: white;
    transform: scale(1.1); 
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}


.border-dashed {
    border-style: dashed !important;
    border-width: 2px !important;
    border-color: #0d6efd !important;
}
.img-thumbnail{
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.img-thumbnail:hover{
     transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;

}